apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  labels:
    app.kubernetes.io/component: webhook
    app.kubernetes.io/instance: default
    app.kubernetes.io/part-of: tekton-triggers
    triggers.tekton.dev/release: v0.6.0
  name: webhook.triggers.tekton.dev
webhooks:
- admissionReviewVersions:
  - v1beta1
  clientConfig:
    service:
      name: tekton-triggers-webhook
      namespace: tekton-pipelines # {"$kpt-set":"namespace"}
  failurePolicy: Fail
  name: webhook.triggers.tekton.dev
  sideEffects: None
